<nav class="ui three item menu">    
    {{#link-to "books" class="item"}}Books{{/link-to}}
    
    {{#link-to "about" class="item"}}About{{/link-to}}
    {{#link-to "contact" class="item"}}Contact{{/link-to}}
</nav>

{{outlet}}
